@import "../variables";

.badge {
  width: 122px;
  height: 123px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;

  &__content {
    width: 147px;
    padding: 3px 0;
    display: block;
    position: absolute;
    left: 7px;
    top: 28px;
    font-weight: $text-bold;
    font-size: 14px;
    line-height: 17px;
    background-color: $red;
    transform: rotate(45deg);
    text-transform: uppercase;
  }
}
