@import "variables";
@import "price-card/price-card";

* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  background-color: #141b1c;
}

.page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  & section:first-child {
    margin-left: 0;
  }
}